*	@philippkochlimebit @JabobKrauskopf @limebit/medmodels-software-engineering @limebit/medmodels-data-science-team

/.devcontainer/	@JabobKrauskopf @limebit/medmodels-software-engineering

/.github/	@JabobKrauskopf @limebit/medmodels-software-engineering

/.vscode/	@JabobKrauskopf @limebit/medmodels-software-engineering

/.editorconfig	@JabobKrauskopf @limebit/medmodels-software-engineering

/pyproject.toml @JabobKrauskopf @limebit/medmodels-software-engineering

/rust/	@JabobKrauskopf @limebit/medmodels-software-engineering
