[workspace]
members = ["crates/*", "rustmodels"]

[workspace.package]
version = "0.0.1"
edition = "2021"
repository = "https://github.com/limebit/medmodels"
license = "BSD-3-Clause"
readme = "README.md"

[workspace.dependencies]
petgraph = "0.6.4"
pyo3 = "0.20.2"
polars = "0.37.0"
pyo3-polars = "0.11.3"

medmodels = { version = "0.0.1", path = "crates/medmodels" }
medmodels-core = { version = "0.0.1", path = "crates/medmodels-core" }
