[workspace]
members = ["crates/*", "rustmodels"]
resolver = "2"

[workspace.package]
version = "0.0.1"
edition = "2021"
repository = "https://github.com/limebit/medmodels"
license = "BSD-3-Clause"
readme = "README.md"

[workspace.dependencies]
hashbrown = { version = "0.14.5", features = ["serde"] }
serde = { version = "1.0.199", features = ["derive"] }
ron = "0.8.1"
pyo3 = "0.21.2"
polars = "0.39.2"
pyo3-polars = "0.13.0"

medmodels = { version = "0.0.1", path = "crates/medmodels" }
medmodels-core = { version = "0.0.1", path = "crates/medmodels-core" }
medmodels-utils = { version = "0.0.1", path = "crates/medmodels-utils" }
