[project]
name = "medmodels"
version = "0.0.1"
description = "Limebit Medmodels Package"
readme = "README.md"
requires-python = ">=3.9"
dependencies = [
    "numpy==1.26.4",
    "pandas==2.2.2",
    "polars[pandas]==0.20.23",
    "scikit-learn==1.4.2",
]

[project.optional-dependencies]
dev = ["maturin==1.5.1", "ruff==0.4.2", "black==24.4.2", "py-spy==0.3.14"]
tests = ["pytest==8.2.0"]

[build-system]
requires = ["maturin==1.5.1", "setuptools"]
build-backend = "maturin"

[tool.maturin]
features = ["pyo3/extension-module"]
exclude = ["tests", "examples"]
manifest-path = "rustmodels/Cargo.toml"
module-name = "medmodels._medmodels"

[tool.ruff]
exclude = [
    "__pycache__",
    ".git",
    ".github",
    ".pytest_cache",
    ".ruff_cache",
    ".venv",
]
line-length = 88

[tool.pytest]
python_files = "test_*.py"
