div.admonition.error {
  background-color: #333;
  border: 1px solid #8B0000;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  color: #eee;
}

div.admonition.error p.admonition-title {
  background-color: #8B0000;
  color: white;
  padding: 1px 8px;
  border-radius: 1px;
  font-weight: bold;
  margin-bottom: 5px;
}

div.admonition.error .admonition-title::after {
  content: none !important;
}
