name: Lint Pull Request

on:
  push:
      branches:
        - 251-implement-pypi-and-crates-caches-for-the-github-actions

jobs:
  lint:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
      - name: Set up Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy
      - name: Install dependencies
        run: uv sync --extra dev
      - name: Lint with ruff
        run: uv tool run ruff check --output-format=github .
      - name: Lint imports with ruff
        run: uv tool run ruff check --select I --output-format=github .
      - name: Check typing with pyright
        run: uv run python -m pyright
      - name: Lint with clippy
        run: cargo clippy --all-targets --all-features -- -D warnings
