name: Lint Pull Request

on:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy
      - name: Install dependencies
        run: make install-dev
      - name: Lint with ruff
        run: .venv/bin/python -m ruff check --output-format=github .
      - name: Lint imports with ruff
        run: .venv/bin/python -m ruff check --select I --output-format=github .
      - name: Check typing with pyright
        uses: jakebailey/pyright-action@v2
        with:
          python-path: .venv/bin/python
          version: 1.1.373
      - name: Lint with clippy
        run: cargo clippy --all-targets --all-features -- -D warnings
