name: Lint Pull Request

on:
  push:
      branches:
        - 251-implement-pypi-and-crates-caches-for-the-github-actions

jobs:
  lint:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
          cache-dependency-glob: pyproject.toml

      - name: Set up Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      # Cache Cargo registry to avoid re-downloading dependencies
      - name: Cache Cargo registry
        uses: actions/cache@v3
        with:
          path: ~/.cargo/registry
          key: ${{ runner.os }}-cargo-registry-${{ hashFiles('**/Cargo.lock') }}

      # Cache Cargo build artifacts to speed up compilation
      - name: Cache Cargo build artifacts
        uses: actions/cache@v3
        with:
          path: target
          key: ${{ runner.os }}-cargo-target-${{ hashFiles('**/Cargo.lock') }}

      - name: Install dependencies
        run: |
          uv sync --extra dev
          uv pip install .

      - name: Lint with ruff
        run: uv tool run ruff check --output-format=github .
      - name: Lint imports with ruff
        run: uv tool run ruff check --select I --output-format=github .
      - name: Check typing with pyright
        run: uv run python -m pyright
      - name: Lint with clippy
        run: cargo clippy --all-targets --all-features -- -D warnings
