name: Lint Pull Request

on:
  pull_request:
    branches: [main]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.9
        uses: actions/setup-python@v5
        with:
          python-version: 3.9
      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy
      - name: Install dependencies
        run: make install-dev
      - name: Lint with ruff
        run: .venv/bin/python -m ruff check --output-format=github .
      - name: Lint with clippy
        run: cargo clippy --all-targets --all-features -- -D warnings
